body{
	background-color: #e3ddcc;
	font-family: arial;
    color: #222;
}

header{
	background-color:white;
	font-color:white;
}
header nav ul a:hover {
	color:cyan;
} 

header nav ul{
max-width: 1200px;
margin: 0 auto;
overflow: auto;

}

header nav  li{
	list-style: none;
	float: left;

}
header nav ul li a{
	color: black;
	padding: 20px;
	float: left;
	font-size: 18px;
	text-decoration: none;
}
.container{
	padding: 40px;
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color:black;
   text-align: center;
}
header nav ul li a:active{
	color:yellow;
}
header nav ul{
	margin: 0px;
	padding:0px;
}

.square{
width: 500px;
min-height: 500px;
background-color: #C9B74F;
margin: 56px auto 0 auto;
padding: 20px;
position: relative;
}
.square h1{
padding: 0px 0 0 0 ;
margin: 0px;
}
.square p{
padding: 0px;
margin: 0px;
}
h1{
 background-color: #555755;
 color:#fff;
 padding: 25px;
 text-align: center;
}
.circle1{
width: 150px;
height: 150px;
border-radius: 50%;
background-color:#86BC82;
position: absolute;
top: -50px;
right: -100px;
float:right;
}
.circle2{
width: 150px;
height: 150px;
border-radius: 50%;
background-color: #DB5D78;
position: absolute;
top: -50px;
left: -100px;
float: right;
}
.circle3{
width: 150px;
height: 150px;
border-radius: 50%;
background-color:#C05DD8;
position: absolute;
bottom: -50px;
right: -100px;
float: right;
}
.circle4{
width: 150px;
height: 150px;
border-radius: 50%;
background-color:#7E9ECE;
position: absolute;
bottom: -50px;
left: -100px;
float: right;
}